server:
  port: 4006
jpa:
  hibernate:
    ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
  show-sql: ${SPRING_JPA_SHOW_SQL:true}
sql:
  init:
    mode: ${SPRING_SQL_INIT_MODE:always}
spring:
  kafka:
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer